
  *{
    margin:0;
    padding: 0;
  }
.Hero {
  overflow: hidden;
  height:100vh ;
}
.carousel {
  height: fit-content;
  display: inline-flex;
  overflow: hidden;
  scrollbar-width: none;
  transform: translateX(0);
  will-change: transform;
  transition: transform 0.3s ease-out;
  cursor: grab;
  user-select: none;
  
}

.hero__slide__container{
  height: fit-content;
  width: 100vw;
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(14,5.4%) ;
  grid-column-gap:1.85%;
  align-items: flex-start;
}
.hero__slide__container.Dark{
  height: 100%;
  width: 100vw;
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(14,5.4%) ;
  grid-template-rows: 50% 50%;
  grid-column-gap:1.85%;
  align-items: flex-end;
}
.carousel  .hero__img{
  grid-column: 2/14;
}
.carousel .Dark .hero__img{
  grid-column: 1/15;
  max-height: 617px;
  grid-row: 1/3;
  
}
.hero__slide__container img{
  width: 100%;
  height: auto;
}

.grabbing {
  cursor: grabbing;
}
.carousel .hero__slide__container .info {
  grid-column: 2/14;
  width: auto;
  justify-content: center;
}
.carousel .hero__slide__container.Dark .info {
  grid-column: 2/14;
  width: auto;
  justify-content: center;
  align-items: flex-end;
  grid-row: 2;
}

.carousel .hero__slide__container .info h1{
  width: 100%;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.carousel .hero__slide__container .info .hero__description{
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  margin-top: 16px;
}
.hero__button{
  width: fit-content;
  display: flex;
  flex-direction: row;
  height: 43px;
  background-color: var(--electric-blue);
  border-radius: 4px;
  padding:12px;
  font-size: 16px;
  color: var(--white);
  text-align: center;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 43px;
}
.icon{
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-top: 3px;
}

.carousel .Dark img{
  z-index: 1;
  width: auto;
  height: 100vh;
  margin-left: 0;
}
@supports(object-fit: cover){
  .carousel .Dark img{
      height: 100vh;
      object-fit: cover;
      object-position: center center;
    }
}

.Dark{
  color: var(--white);
}
.fa-internalPage{
  display: none !important;
}
.hero__slider{
  z-index: 2;
  display: flex;
  margin-bottom: 10px;
  position: absolute;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  margin-top: -30px;
}
.hero__slider .hero__slider__dot{
  background: var(--baby-blue);
  border-radius: 50%;
  cursor: pointer;
  width: 8px;
  height: 8px;
  color: transparent;
  margin-right: 4px;
  margin-left: 4px;
}
.hero__slider .hero__slider__dot.active{
  background: var(--mid-blue);
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

.carousel  .hero__img{
  grid-column: 2/9;
}
.carousel .Dark .hero__img{
  grid-column: 1/15;
  max-height: 617px;
  grid-row: 1/3;
  
}
.hero__slide__container img{
  width: 100%;
  height: auto;
}

.carousel .hero__slide__container .info {
  grid-column: 9/14;
  width: auto;
  justify-content: left;
  margin-top: auto;
  margin-bottom: auto;
}
.carousel .hero__slide__container.Dark .info {
  grid-column: 9/14;
  width: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
}

.carousel .hero__slide__container .info .hero__title{
  text-align: left;
  font-size: 64px;
  line-height: 62px;
}

.carousel .hero__slide__container .info .hero__description{
  text-align: left;
}
.hero__button{
  margin-left: 0;
  margin-right: auto;
}
.hero__slider .hero__slider__dot{
  width: 16px;
  height: 16px;
}
}