<div class="Hero">
        <div class="carousel">
                {{#each slides}}
                {{{module this}}}
                {{/each}}
        </div>
        <div class="hero__slider" id="hero__slider">
        </div>
</div>
