<header class="header p">
  <nav class="header__nav">

    <a href="/index.html" class="header__image">
      <img src="/images/salvadores-logo.png" alt="salvadores">
    </a>

    <button class="header__menu-toggle">
      <span class="hamburger-icon"></span>
      <span class="hamburger-icon"></span>
      <span class="hamburger-icon"></span>
    </button>
  </nav>

  <section class="menu-mobile">
    <button class="menu-mobile__category-toggle">
      {{categoryTitle}}
      <i class="toggle-icon fas fa-chevron-down"></i>
    </button>

    <ul class="menu-mobile__category-list">
      {{#each categoryLinks}}
      <li class="menu-mobile__item menu-mobile__item--category">
        {{{module this}}}
      </li>
      {{/each}}
    </ul>

    <hr class="links-divisor">

    <ul class="menu-mobile__nav-links">
      {{#each navLinks}}
      <li class="menu-mobile__item menu-mobile__item--nav">
        {{{module this}}}
      </li>
      {{/each}}
    </ul>
  </section>
</header>
