<section class="instagram-post">
  <div class="instagram-post__image">
    <figure class="instagram-post__figure">
      <img src="images/instagramPostImage.png" alt="">
    </figure>
  </div>
  <div class="instagram-post__content">
    <h3 class="instagram-post__title">¡No te pierdas nuestro contenido en Instagram!</h3>
    <div class="instagram-post__link">
      {{{module buttonLink}}}
    </div>
  </div>
</section>
