<a class="related-product" href="{{categoryLink}}.html" target="_self">
  <div class="related-product__card">
    <figure class="related-product__figure">
      {{{asset image}}}
    </figure>
  </div>
  <div class="related-product__info">
    <p class="related-product__category">
      {{categoryName}}
    </p>
    <p class="related-product__link">Ver productos</p>
  </div>
</a>
